*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
    outline: none;
}

:root{
    --bg-color: #000;
    --snd-bg-color: #111;
    --text-color: #fff;
    --main-color: #7a45ff;
    --third-color: rgb(255, 111, 0);
    --fourth-color:#B6F500;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 10rem 8% 2rem;
}

/* header */

header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
   z-index: 1000;
   justify-content: space-between;
   align-items: center;
   padding: 2rem 9%;
   background: rgba(0, 0, 0, 0.5);
   backdrop-filter: blur(10px);
   transition: all 0.5s ease;
  display: flex;
}

.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.logo:hover{
    transform: scale(1.1);
}

span{
    color: var(--main-color);
}

.nav{
    display: flex;
}

.nav  a{
    font-size: medium;
    align-items: center;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 4rem;
    transition: all 0.5 transparent;
}

.nav a:hover,
.nav a.active{
    color: var(--third-color);
    border-bottom: 3px solid var(--fourth-color);
}

.navBtn{
    color: var(--main-color);
    background: transparent;
    display: inline-block;
    padding: 1rem 2.8rem;
    border: 2px solid var(--fourth-color);
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 2rem;
    transition: all 0.5s ease;
}

.navBtn:hover{
    background: var(--fourth-color);
    color: black;
    font-size: large;
    box-shadow: 0 0 10px var(--fourth-color);
}

#menuIcon{
    display: none;
    font-size: 3rem;
    color: var(--text-color);
    cursor: pointer;
}